.gallery-grid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(280px,1fr));

gap:20px;

}

.gallery img{

height:320px;

object-fit:cover;

border-radius:15px;

transition:.4s;

cursor:pointer;

}

.gallery img:hover{

transform:scale(1.08);

}