.navbar{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    padding:20px 8%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    z-index:1000;

    backdrop-filter:blur(15px);

    transition:.4s;

}

.logo{

    color:white;

    font-family:var(--heading);

    font-size:2rem;

    letter-spacing:2px;

}

.nav-links{

    display:flex;

    gap:40px;

}

.nav-links a{

    color:white;

    transition:.3s;

}

.nav-links a:hover{

    color:var(--primary);

}

.menu-btn{

    display:none;

}